@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    max-width: 1245px;
    color: white;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.footer__content {
    display: flex;
    align-items: center;
}

.footer__separator {
    margin: 0 16px;
}

.footer__security {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 700px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        max-width: 301px;
        font-size: 12px;
        text-wrap: nowrap;
    }

    .footer__separator {
        margin: 0 12px;
    }
}