@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --font-color-white: #ffffff;
}

/* .header {
    width: 100%;
} */

/* .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #252F3D;

}*/

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #252F3D;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--font-family);
}

.header__container__mobile {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #252F3D;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--font-family);
}

/*
.header__promo {
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 1500px;
    border: 2px solid blue;
    padding: 0 160px;
}*/

.header__promo {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1245px;
    justify-content: space-between;
}

.header__promo__mobile {
    display: none;
    align-items: center;
    width: 100%;
    max-width: 1245px;
    justify-content: space-between;
}

/*
.header__promo-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--font-color-white);
    font-family: var(--font-family);
    font-size: 12px;
    text-transform: uppercase;
}*/

.header__promo-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__promo__mobile-item {
    display: none;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
}

/*
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1245px;
}

/*
.header__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1245px;
    padding: 24px 133px;
}*/

.header__content-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 24px;
}


.header__content-top_logo {
    width: 192px;
    height: 36px;
}

/*
.header__content_badges {
    display: flex;
    gap: 32px;
}*/

.header__content_badges {
    display: flex;
    gap: 32px;
}


.header__content-top__badge--mcafee {
    width: 88px;
    height: 32px;
    filter: drop-shadow(3px 5px 3px rgba(51, 51, 51, 0.25));
}

.header__content-top__badge--norton {
    width: 82px;
    height: 32px;
}

.header__content-bottom {
    text-transform: capitalize;
    font-family: var(--font-family);
    text-align: center;
    margin-top: 1px;
}

.header__content-bottom__title {
    font-size: 48px;
    margin-bottom: 24px;
    font-weight: 400;
}

.header__content-bottom__description {
    font-size: 24px;
    color: #4D5254;
}

@media (max-width: 360px) {
    .header__container {
        display: none;
    }

    .header__container__mobile {
        display: flex;
    }

    .header__promo__mobile {
        display: flex;     
    }

    .header__promo__mobile-item {
        display: flex;
    }


    .header__promo__mobile-item {
        display: none;
    }
    
    .header__promo__mobile-item.active {
        display: flex;
    }
    
    .arrow {
        cursor: pointer;
        /* background-color: #f1f1f1; */
        background-color: #252F3D;
        border: none;
        padding: 10px;
        /* font-size: 20px; */
        margin: 0 10px;
        width: auto;
        height: auto;
    }

    .arrow__img {
        width: 7.5px;
        height: 12.5px;
    }















    .header__content-top_logo {
        width: 106.67px;
        height: 20px;
        margin-left: 20px;
    }

    .header__content_badges {
        gap: 16px;
    }

    .header__content-top__badge--mcafee {
        width: 44px;
        height:  16px;
    }

    .header__content-top__badge--norton {
        width: 41px;
        height: 16px;
        margin-right: 20px;
    }

    .header__content-bottom__title {
        margin-top: 50px;
        font-size: 32px;
    }

    .header__content-bottom__description {
        font-size: 16px;
    }
}