@import '/css/reset.css';
@import '/css/header.css';
@import '/css/main.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    max-width: 1560;
}

header {
    max-width: 1560px;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1560px;
    width: 100%;
}